<tr class="{CSS_ROW}">
    <td class="std">
	<input type="checkbox" name="event_id[]" value="{VAL_ID}" />
</td> 
<td class="std">
        {TXT_TYPE_NAME}
    </td>
    <td class="std">
        {TXT_EVENT_ID}
    </td>
    <td class="std">
        {TXT_REF_ID}
    </td>
    <td class="std">
        {TXT_SESSION_ID}
    </td>
    <td class="std">
        {TXT_USER}
    </td>
    <td class="std">
        {TXT_LOG_TIME}
    </td>
    <td class="std">
        {TXT_CALL_TIME}
    </td>
    <td class="std">
        {TXT_EVENT_TYPE}
    </td>
    <td class="std">
        {TXT_EVENT_SUBTYPE}
    </td>
    <td class="std">
        {TXT_EVENT_INTEGER}
    </td>
    <td class="std">
        {TXT_EVENT_TEXT}
    </td>
</tr>